@font-face {
    font-family: 'supermarket';
    src: url('/assets/fonts/supermarket-webfont.woff2') format('woff2'),
         url('/assets/fonts/supermarket-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
