// @import "poole";
@import "~bulma/bulma";

// For syntax highlight
@import url("prism.css");
// For TOC
// @import url('https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css');
@import url("tocbot.css");

// Font
@import url("fonts/Trirong.css");

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.word-wrap {
    @include word-wrap();
}


h1,h2,h3, .title{
    font-family: 'Trirong', sans-serif;
    font-weight: 600;
    // font-family: 'supermarket', Helvetica, Arial, sans-serif;
}

.box{
  box-shadow: none;
  padding: .9rem;
}

.subtitle{
  color: $grey-light;
}

.title a {
  color: $grey-dark;
}

.title a:hover {
  color: $blue;
}

.tag a{
  color: $grey-dark;
}



// h2,h3{
//     margin-top: 2rem;
//     margin-bottom: 1rem;
// }


// TODO: Refactor this part to new file: side bar

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 26px;
    height: 20px;
    left: 2.25rem;
    top: 2.25rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #ffffff;
    padding: 2.5em 1.5em 0;
    font-size: 0.95em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    // background: rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 1);
  }