// @import "poole";
@import "~bulma/bulma";

// For syntax highlight
@import url("prism.css");
// For TOC
// @import url('https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.1.1/tocbot.css');
@import url("tocbot.css");

// Font
@import url("fonts/Trirong.css");

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.word-wrap {
    @include word-wrap();
}


h1,h2,h3, .title, .logo{
    font-family: 'Trirong', sans-serif;
    font-weight: 600;
    // font-family: 'supermarket', Helvetica, Arial, sans-serif;
}

.logo a{
  color:  #0D47A1;
}

.box{
  box-shadow: none;
  padding: .9rem;
}

.subtitle{
  color: $grey-light;
}

.title a {
  color: $grey-dark;
}

.title a:hover {
  color: $blue;
}

.tag a{
  color: $grey-dark;
}

// header
.menu-link a{
  color: $grey-dark;
}
.menu-link a:hover{
  color: $blue;
}


.content blockquote{
  background-color: $white;
  font-style: italic;
  color: $grey;
}

.footer{
  background-color: transparent;
}


img[class=post-cover]{
  max-height: 300px; 
  width: 100%;
  object-fit: cover ;
}

img[class=post-list]{
  max-height: 200px; 
  max-width: 100%;

}
